@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');



body{
  background: #2980b9;
  background: linear-gradient(to right, #2c3e50, #2980b9);
}

.responsive{
  max-width: 75%;
  height: auto;
}
img{
  padding: 15px;
}
.displayBox{
  width:100%;
  font-family: Barlow sans-serif;
}
.scroll-box{
   overflow-y: auto;
   height: 500px;
   float: left;
   padding: 1rem;
}


.file{
  width: 100vh;
  height: 100% !important;
}

.book_loaded{
  display: block;
  line-height: 190%;
  font-weight: bold;
  
  font-family: 'Julius Sans One', sans-serif;   
}
